-if user_signed_in?
  #taskModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", :style => "overflow:scroll;"}
    .modal-dialog.cstm-material-modal
      .modal-content
        #form_content
          - @task=Task.new
          =render :partial => "tasks/task_form", :object => @task, :title=> :""


