<%=stylesheet_link_tag "/assets/style-personal"%>
<%=javascript_include_tag "/assets/simplecalendar"%>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
<div class="calendar hidden-print">
  <header>
    <h2 class="month"></h2>
    <a class="btn-prev fontawesome-angle-left" href="#"></a>
    <a class="btn-next fontawesome-angle-right" href="#"></a>
  </header>
  <table>
    <thead class="event-days">
      <tr></tr>
    </thead>
    <tbody class="event-calendar">
      <tr class="1"></tr>
      <tr class="2"></tr>
      <tr class="3"></tr>
      <tr class="4"></tr>
      <tr class="5"></tr>
    </tbody>
  </table>
</div>