:css
  #contactList_filter{
    float: right;
    margin: -3px 25px;
    z-index: 10;
  }
  .nav-tabs > li > a{
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
  }
  .pagination { margin-top: 0;font-size:12px }
  .dataTables_info {font-size: 12px}
#list_view
  %div.header.fixed-in-app-header
    .col-md-6
    .col-md-6.text-right
      %div
        %span.import_contact.import-contact
          Import Contact
          %i.fa.fa-sort-desc.dropdown-toggle{"aria-hidden" => "true","data-toggle" => "dropdown"}
          %ul.dropdown-menu{role: "menu",style:"left: 381px;top: 31px;"}
            /%li
            /  %a{"data-target" => "#ImportContactModal", "data-toggle" => "modal", rel: "tooltip", title: "Import Contact from Zoho CRM",href: "javascript:void(0)",:style=>"cursor: default;", onclick: "open_crm_modal('zoho_crm')"} Zoho CRM
            /%li
            /  %a{"data-target" => "#ImportContactModal", "data-toggle" => "modal", rel: "tooltip", title: "Import Contact from Sugar CRM",href: "javascript:void(0)",:style=>"cursor: default;", onclick: "open_crm_modal('sugar_crm')"} Sugar CRM
            /%li
            /  %a{"data-target" => "#ImportContactModal", "data-toggle" => "modal", rel: "tooltip", title: "Import Contact from FatFree CRM",href: "javascript:void(0)",:style=>"cursor: default;", onclick: "open_crm_modal('fatfree_crm')"} FatFree CRM
            %li.arrow_top{style:"left:118px"}
            %li
              %a{"data-target" => "#ImportContactModal", "data-toggle" => "modal", rel: "tooltip", title: "Import Contact from other CRM",href: "javascript:void(0)",:style=>"cursor: default;", onclick: "open_crm_modal('other_crm')"} Other CRM
            /%li
            /  %a{href: "/contacts/gmail", title: "Import Contact from Gmail"}
            /    Import Contact from Gmail
        %span  
          %a#contacts_export_btn{href: contacts_path(format: "csv"), title: "Export Contact"}
            %span.cwkp-sprite.bulk-lead-upload
    .clearfix{style: "clear:both"}

  %div.table-responsive
    - con = Contact
    %table.table.table-hover.table.white-table.display.borderless.ajax-contact-list{:cellspacing => "0", :width => "100%", id: "contactList",style: "box-shadow: 0 0 5px #aaa;margin-bottom: 20px;position: relative;top: -22px;", "data-source"=>contacts_url(format: 'json',params: {cuser: current_user.id})}
      %thead{style: "border: 1px solid #ddd"}
        %tr
          %th{style: "display:none"}
          %th{style: "width: 250px;"} Name
          %th Email
          %th Company
          %th Country
          %th Ph no.
          %th Website
      %tbody

:javascript

  $('#contactList').dataTable({
    sPaginationType: "bootstrap",
    bJQueryUI: true,
    bProcessing: false,
    bServerSide: true,
    serverSide: true,
    iDisplayLength : 20,
    oLanguage: { 
      "sSearch": "" ,
      oPaginate: {
        sPrevious: "Prev"
      }
    },
    sAjaxSource: $('#contactList').data('source'),
    aoColumnDefs: [
      
      { aTargets: [0],
        bSortable: false,
          mRender: function(data, type, row ){
            return '';
        },
        bVisible: false
      },
      { aTargets: [1],

        bSortable: true,
          mRender: function(data, type, row ){
          if(row[1] == "individual_contact"){
            name = row[3]
            sort_name = row[3].substr(0,20) + "..."
            if(row[3].length > 20){
              if(row[11] == ""){
                str = "<span class='lead-profile-icon' style='background: " + row[9] + "'>"+row[2]+"</span>";
                var sty = "";
              }else{
                str = "<div class='contact-img-center' style='position:relative;'><img src='" + row[11] + "' style='height:40px;width:40px;left:3px;'></div>";
                var sty = "margin: -35px 46px 0;position: absolute;";
              }
              str += "<span style='"+ sty +"'><a href='contact/"+row[0]+"' title='"+row[3]+"'>"+sort_name+"</a></span>";
              return str;
            }else{
              if(row[11] == ""){
                str = "<span class='lead-profile-icon' style='background: " + row[9] + "'>"+row[2]+"</span>";
                var sty = "";
              }else{
                str = "<div class='contact-img-center' style='position:relative;'><img src='" + row[11] + "' style='height:40px;width:40px;left:3px;'></div>";
                var sty = "margin: -35px 46px 0;position: absolute;";
              }
              str += "<span style='"+ sty +"'><a href='contact/"+row[0]+"' title='"+row[3]+"'>"+name+"</a></span>";
              return str;
            }
          }
          else{
            name = row[3]
            sort_name = row[3].substr(0,20) + "..."
            if(row[3].length > 20){
              return "<span class='lead-profile-icon' style='background: " + row[9] + "'>"+row[2]+"</span><span><a href='contact/"+row[0]+"?type=company' title='"+row[3]+"' >"+sort_name+"</a></span>";
            }
            else{
              return "<span class='lead-profile-icon' style='background: " + row[9] + "'>"+row[2]+"</span><span class=''><a href='contact/"+row[0]+"?type=company' title='"+row[3]+"' >"+name+"</a></span>";
            }
          }
      }},
      { aTargets: [2],
        bSortable: true,
          mRender: function(data, type, row ){
            return "<a href='javascript:void(0)' class='change-color-ll' data-target = '#SendEmailModal' data-toggle = 'modal' rel='tooltip' onclick='$(\"#send-mail-popup\").get(0).reset();$(\"#to\").val(\"" + row[4] + "\");$(\"#mailer_id\").val(\"" + row[0] + "\");$(\"#mailer_type\").val(\"" + row[10] + "\");$(\"#email_contact_id\").val(\"" + row[0] + "\");$(\"#email_contact_type\").val(\"" + row[10] + "\")'>"+row[4]+"</a>";
      }},

      { aTargets: [3],
        bSortable: false,
          mRender: function(data, type, row ){
            if(row[5] == "NA"){
              var cmp_link = row[5];
            }else{
              var cmp_link = "<a href='"+row[12]+"'>"+row[5]+"</a>";
            }
            return cmp_link;
      }},
      { aTargets: [4],
        bSortable: false,
          mRender: function(data, type, row ){
            return row[6];
      }},
      { aTargets: [5],
        bSortable: false,
          mRender: function(data, type, row ){
            return row[7];
      }},
      { aTargets: [6],
        bSortable: false,
          mRender: function(data, type, row ){
            return row[8];
      }}
    ],
    fnPreDrawCallback: function() { 
      $('#task_loader,.fixed_loader').show(); 
      $("#contactList_filter input").attr("placeholder", "Search...");
    },
    fnDrawCallback: function() {
      $('#task_loader,.fixed_loader').hide();
    }
      
  
  });
  

