#dealsettingKanbanModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = form_tag "/tab_settings_in_kanban",  :class => "form",:method=>"post",:id=>"kanban_stage", :remote => true do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", type: "button", "data-dismiss" => "modal"} ×
          %h4.modal-title Select tabs to enable
        .modal-body
          
        .modal-footer
          .pull-left{style: "padding: 2px 10px 10px;"}
            %button.btn.btn-primary{type: "submit",onclick: '$("#task_loader").show();'} Save
            %a{href:"#", "aria-hidden" => "true","data-dismiss" => "modal"}
              %span.c_links
                Cancel
